In [ ]:
import datetime as dt
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint
import csv
import datetime
from pandas import Series

from flask import Flask, jsonify, render_template


from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import sqlalchemy

In [2]:
engine = create_engine('sqlite:///./data/trade.sqlite')

In [54]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

NameError: name 'engine' is not defined

In [4]:
Imports = Base.classes.imports

In [5]:
api_key = "93ba5366cb39b249dcbde95cc4d461e7b05b747d"
access_key = "4f9566c06802ac93dbb7af423e88dd45"
export_url = (f"https://api.census.gov/data/timeseries/intltrade/exports")
import_url = (f"https://api.census.gov/data/timeseries/intltrade/imports")
china_code = "5700"
usa_code = "1000"
month = []
year = []

In [ ]:
total_import_by_commodity = requests.get(f"{import_url}/hs?get=CTY_CODE,CTY_NAME,I_COMMODITY,I_COMMODITY_SDESC,GEN_VAL_MO,GEN_VAL_YR&key={api_key}&time=from+2019-01&COMM_LVL=HS4").json()

In [ ]:
count = 1
cty_code = []
cty_name = []
commodity = []
movalue = []
yrvalue = []
period = []
desc = []
code = []
while count < 3460904:
    count += 1
    cty_code.append(total_import_by_commodity[count][0])
    cty_name.append(total_import_by_commodity[count][1])
    commodity.append(total_import_by_commodity[count][2])
    desc.append(total_import_by_commodity[count][3])
    movalue.append(total_import_by_commodity[count][4])
    yrvalue.append(total_import_by_commodity[count][5])
    period.append(total_import_by_commodity[count][6])
total_import_commodity = pd.DataFrame({"YTDValue" : yrvalue,
                          "Period" : period,
                          "Description" : desc,
                          "HSC": commodity,
                          "MoValue" : movalue,
                           "Country" : cty_name,
                           "CountryCode": cty_code})

In [ ]:
#total_import_commodity.to_sql('total_country_imports', con=engine, if_exists='update')

In [6]:

total_export_by_commodity = requests.get(f"{export_url}/hs?get=CTY_NAME,E_COMMODITY,E_COMMODITY_SDESC,ALL_VAL_MO&key={api_key}&time=from+2015-01&COMM_LVL=HS4").json()

In [23]:
len(total_export_by_commodity)

617481

In [24]:
count = 1
cty_code = []
cty_name = []
commodity = []
movalue = []
yrvalue = []
period = []
desc = []
code = []
while count < 617480:
    count += 1
    cty_code.append(total_export_by_commodity[count][0])
    cty_name.append(total_export_by_commodity[count][1])
    commodity.append(total_export_by_commodity[count][2])
    desc.append(total_export_by_commodity[count][3])
    movalue.append(total_export_by_commodity[count][4])
    yrvalue.append(total_export_by_commodity[count][5])
    period.append(total_export_by_commodity[count][6])
total_export_commodity = pd.DataFrame({"YTDValue" : yrvalue,
                          "Period" : period,
                          "Description" : desc,
                          "HSC": commodity,
                          "MoValue" : movalue,
                           "Country" : cty_name,
                           "CountryCode": cty_code})

In [32]:
total_export_commodity.to_csv('total_country_exports', con=engine, index=False , if_exists='append')

In [15]:
results = session.query(Imports).statement
df = pd.read_sql_query(results, session.bind)

In [16]:
df = df.sort_values(by=["Period", "HSC"])

In [ ]:
start_date = ""
end_date = ""
base = "USD"
symbols = ["USD","MXN","CNY","JPY","EUR","GBP","AUD","CHF","NZD"]
fx = requests.get(f"http://data.fixer.io/api/latest?access_key={access_key}&format=1").json()

In [ ]:
series = pd.read_csv('allfx.csv')
X = series.values
train_size = int(len(X) * 0.66)
train, test = X[0:train_size], X[train_size:len(X)]
print('Observations: %d' % (len(X)))
print('Training Observations: %d' % (len(train)))
print('Testing Observations: %d' % (len(test)))

In [17]:
df.head()

NameError: name 'df' is not defined

In [20]:
country_df = df.groupby("Country")

In [22]:
country_df.sort_values("Country")

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [9]:
requests.get("http://api.apixu.com/v1/history.json?key=dc19bae6a35c47d8a0c165319190905&q=houston&dt=2015-01-01")

In [18]:
crude_data = pd.read_csv(f"https://s3.amazonaws.com/globefutures/data/CBOE_VX5.csv")

In [22]:
col_names = crude_data.columns

In [17]:
asx = pd.read_csv(f"https://s3.amazonaws.com/globefutures/data/ASX_AP1.csv")

In [21]:
asx.columns

In [29]:
crude_data.iloc(col_names[2])

ValueError: No axis named Open for object type <class 'pandas.core.frame.DataFrame'>

In [2]:
import os
data_dir = "C://Users/alexb/Documents/class/project3data/dump"
files = os.listdir(data_dir)

merged_data = pd.DataFrame()
length = len(os.listdir(data_dir))
files = os.listdir(data_dir)
for filename in os.listdir(data_dir):
    print(filename)
    dataset=pd.read_csv(os.path.join(data_dir, filename))
    col_names = dataset.columns
    
    merged_data = merged_data.append(dataset_mean_abs)

# merged_data.columns = ['Bearing 1','Bearing 2','Bearing 3','Bearing 4']

ASX_AP1.csv

NameError: name 'dataset_mean_abs' is not defined

In [143]:
files = os.listdir(data_dir)
csv = pd.read_csv("./nonfinancial.csv")
tkr_code = csv["Quandl Code"]
tkr =[]
code = []
for i in tkr_code:
    code.append(i)
lists = []
# for i in len(code):
#     print(i)

#     tkr = tkr[6:]
#     lists.append(any(tkr in item for item in files))

In [151]:
import os
csv = pd.read_csv("./nonfinancial.csv")
data_dir = "C://Users/alexb/Documents/class/project3data/dump"

files = os.listdir(data_dir)
lists = []
tkr_code = (csv["Quandl Code"]).values
code = []
count = 1
while count < 309:
    count += 1
    code.append(tkr_code[count][6:])

In [202]:
data_dir = "C://Users/alexb/Documents/class/project3data/dump/"
file_list = []
files = os.listdir(data_dir)
count = 0
valid_code= []
big_df = pd.DataFrame()
while count < 307:
    count += 1
    if (any(code[count] in item for item in files) == True):
        valid_code.append(code[count])
    else:
        print("no")
            #     any(code[5] in item for item in files) ==  True
#         any(tkr in item for item in files

no
no
no
no
no
no

In [217]:
count = 0
final_df = pd.DataFrame()
while count < (len(valid_code)-1):
    count +=1
    try:
        df =pd.read_csv(data_dir+valid_code[count]+"1.csv")
        df = df[["Settle", "Volume"]]
        df = df.rename(columns={"Settle": valid_code[1]+"S", "Volume": valid_code[count]+"V"})
        final_df = pd.concat([final_df, df], axis=1)
    except:
        print(f"{valid_code[count]} not added")

ODE_SB not added
MCX_SI not added
MCX_SIM not added
MX_SXA not added
ODE_TR not added
ASX_UB not added
ASX_US not added
ASX_VC not added
CBOE_VN not added
ASX_VW not added
ASX_WK not added
ODE_YC not added
MCX_ZN not added
MCX_ZNM not added
MCX_AG not added
MCX_AGM not added
MCX_AL not added
MCX_ALM not added
MCX_B not added
ASX_BB not added
MCX_CL not added
MCX_CRDM not added
MCX_CT not added
MCX_CU not added
MCX_CUM not added
ODE_FS not added
MCX_GC not added
MCX_GD not added
MCX_GG not added
MCX_GM not added
MCX_GP not added
MGEX_IC not added
MGEX_IH not added
MGEX_IP not added
MGEX_IS not added
MGEX_IW not added
MCX_KP not added
MCX_KPK not added
MX_LGB not added

,CME_QLS,CME_QLV,CME_QLS,CME_QPV,CME_QLS,CME_QXV,CME_QLS,LIFFE_RV,CME_QLS,CME_R7V,...,CME_QLS,CME_MFV,CME_QLS,LIFFE_MFAV,CME_QLS,LIFFE_MFCV,CME_QLS,CME_MFFV,CME_QLS,CME_MGV
0,40.0,0.0,12.38,0.0,77.68,0.0,127.61,88149.0,22.93,0.0,...,66.05,0.0,568.23,13.0,5546.5,19.0,71.60,0.0,2.18,0.0
1,40.0,0.0,12.38,0.0,77.68,0.0,127.32,214495.0,23.09,0.0,...,66.04,0.0,564.55,17.0,5534.0,13.0,68.58,0.0,2.17,0.0
2,40.0,0.0,12.50,0.0,77.55,0.0,127.67,111667.0,23.13,0.0,...,66.04,0.0,563.35,22.0,5522.0,44.0,68.58,0.0,2.19,0.0
3,40.0,0.0,12.50,0.0,77.55,0.0,127.75,133857.0,22.96,0.0,...,66.01,0.0,562.70,6.0,5506.0,8.0,68.60,0.0,2.18,0.0
4,40.0,0.0,12.50,0.0,77.55,0.0,127.62,126012.0,23.41,0.0,...,66.29,0.0,561.96,10.0,5519.5,9.0,69.25,0.0,2.06,0.0
5,40.0,0.0,12.50,0.0,77.55,0.0,127.45,155691.0,23.40,0.0,...,65.99,0.0,564.07,42.0,5535.0,11.0,69.15,0.0,1.66,0.0
6,40.0,0.0,12.50,0.0,77.55,0.0,126.84,131453.0,23.68,0.0,...,65.88,0.0,562.92,40.0,5519.5,76.0,69.35,0.0,1.76,0.0
7,40.0,0.0,12.50,0.0,77.55,0.0,127.14,NaN,23.66,0.0,...,65.34,0.0,566.21,31.0,5563.0,10.0,69.20,0.0,1.73,0.0
8,40.0,0.0,12.50,0.0,77.55,0.0,127.14,143943.0,24.03,0.0,...,65.33,0.0,565.22,16.0,5529.0,23.0,69.20,0.0,1.80,0.0
9,40.0,0.0,12.50,0.0,77.55,0.0,126.67,167549.0,24.28,0.0,...,65.30,0.0,562.52,12.0,5507.5,22.0,69.40,0.0,1.63,0.0
10,40.0,0.0,12.50,0.0,77.55,0.0,126.88,203909.0,24.53,0.0,...,65.42,0.0,561.62,9.0,5497.0,38.0,69.10,0.0,2.06,0.0
11,40.0,0.0,12.50,0.0,77.55,0.0,126.85,174898.0,24.61,0.0,...,65.80,0.0,560.89,5.0,5480.0,32.0,69.00,5.0,2.19,0.0
12,40.0,0.0,12.50,0.0,77.55,0.0,126.89,179797.0,24.84,0.0,...,65.54,0.0,560.89,12.0,5444.0,5.0,69.75,0.0,2.12,0.0
13,40.0,0.0,12.50,0.0,78.05,0.0,127.66,142451.0,25.05,0.0,...,65.74,0.0,558.67,17.0,5430.5,32.0,70.00,0.0,1.69,0.0
14,40.0,0.0,12.50,0.0,78.05,0.0,128.30,129770.0,25.05,0.0,...,65.23,0.0,561.34,10.0,5465.5,7.0,70.45,0.0,1.62,0.0
15,40.0,0.0,12.50,0.0,78.05,0.0,128.11,165645.0,24.93,0.0,...,66.03,0.0,561.60,30.0,5470.0,53.0,71.00,25.0,2.14,0.0
16,40.0,0.0,12.50,0.0,78.00,0.0,128.12,108591.0,24.69,0.0,...,65.18,0.0,560.58,15.0,5457.0,7.0,70.50,15.0,2.25,0.0
17,40.0,0.0,12.50,0.0,77.50,0.0,128.01,151570.0,24.64,0.0,...,64.40,18.0,560.35,30.0,5462.5,61.0,69.65,30.0,2.26,0.0
18,40.0,0.0,12.50,0.0,77.50,0.0,128.35,135930.0,24.91,0.0,...,64.92,100.0,554.94,20.0,5416.0,53.0,68.45,0.0,2.48,0.0
19,40.0,0.0,12.50,0.0,77.50,0.0,128.47,199069.0,24.73,0.0,...,63.99,0.0,553.04,32.0,5398.5,63.0,66.60,55.0,5.82,0.0
20,40.0,0.0,12.43,0.0,76.89,0.0,129.33,185229.0,24.79,0.0,...,63.99,0.0,547.94,21.0,5343.0,75.0,75.44,0.0,5.82,0.0
21,40.0,0.0,12.43,0.0,76.89,0.0,128.86,145788.0,24.75,0.0,...,63.98,0.0,542.66,40.0,5289.5,36.0,75.44,0.0,5.81,0.0
22,40.0,0.0,12.50,0.0,77.45,0.0,129.37,208374.0,25.98,0.0,...,63.94,0.0,543.86,18.0,5294.0,237.0,75.45,0.0,5.81,0.0
23,40.0,0.0,12.50,0.0,77.45,0.0,129.28,170976.0,25.99,0.0,...,63.95,0.0,543.39,31.0,5297.0,38.0,77.15,0.0,5.81,0.0
24,40.0,0.0,12.50,0.0,77.35,0.0,129.34,221141.0,26.08,0.0,...,63.89,0.0,539.18,47.0,5250.5,24.0,77.30,0.0,5.68,0.0
25,40.0,0.0,12.50,0.0,77.35,0.0,125.77,350.0,26.03,0.0,...,63.67,0.0,541.91,40.0,5259.5,306.0,77.20,0.0,5.67,0.0
26,40.0,0.0,12.50,0.0,77.35,0.0,125.98,212.0,26.28,0.0,...,63.59,0.0,548.40,43.0,5368.5,78.0,77.40,0.0,5.54,0.0
27,40.0,0.0,12.50,0.0,77.10,0.0,125.75,374.0,26.33,0.0,...,63.90,0.0,545.45,36.0,5372.0,39.0,77.35,0.0,5.58,0.0
28,40.0,0.0,12.50,0.0,77.10,0.0,125.34,1705.0,26.48,0.0,...,64.11,0.0,550.65,33.0,5414.0,34.0,77.55,0.0,5.70,0.0
29,40.0,0.0,12.50,0.0,77.10,0.0,124.53,1834.0,26.51,0.0,...,63.89,0.0,550.26,26.0,5393.5,40.0,77.95,0.0,5.84,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
df =pd.read_csv(data_dir+valid_code[1]+"1.csv")
df = df[["Settle", "Volume"]]
df = df.rename(columns={"Settle": valid_code[1]+"S", "Volume": valid_code[1]+"V"})

     CME_QLS  CME_QLV
0      40.00      0.0
1      40.00      0.0
2      40.00      0.0
3      40.00      0.0
4      40.00      0.0
5      40.00      0.0
6      40.00      0.0
7      40.00      0.0
8      40.00      0.0
9      40.00      0.0
10     40.00      0.0
11     40.00      0.0
12     40.00      0.0
13     40.00      0.0
14     40.00      0.0
15     40.00      0.0
16     40.00      0.0
17     40.00      0.0
18     40.00      0.0
19     40.00      0.0
20     40.00      0.0
21     40.00      0.0
22     40.00      0.0
23     40.00      0.0
24     40.00      0.0
25     40.00      0.0
26     40.00      0.0
27     40.00      0.0
28     40.00      0.0
29     40.00      0.0
..       ...      ...
664    59.58     15.0
665    59.55      0.0
666    59.75      0.0
667    60.43      0.0
668    60.33      0.0
669    59.78     10.0
670    59.20     35.0
671    58.45     20.0
672    59.00      0.0
673    59.75      0.0
674    59.65      0.0
675    60.23     10.0
676    60.53      0.0
677    60.35     10.0
678    60.15      0.0
679    60.40      5.0
680    60.27      0.0
681    61.28      0.0
682    61.63      0.0
683    62.63     20.0
684    62.70      0.0
685    62.75     95.0
686    63.68      5.0
687    63.75     15.0
688    61.88      0.0
689    61.88      0.0
690    61.88     30.0
691    60.00     10.0
692    59.95      0.0
693    59.00      5.0

[694 rows x 2 columns]

In [128]:
csv = pd.read_csv("./nonfinancial.csv")
tkr_code = (csv["Quandl Code"]).values
code = []
count = 1
while count < 359:
    count += 1
    code = tkr_code[count][6:]

TypeError: 'float' object is not subscriptable

In [64]:
files = os.listdir(data_dir)

any(code[4][6:] in item for item in files)

True

In [110]:
pwd# for coders in code:
#      tkr.append(tkr_code[coders])
#     tkr = tkr[6:]
#     lists.append(any(tkr in item for item in files))

'C:\\Users\\alexb\\Documents\\class\\globaltrade\\alex'

In [275]:
tkr_code = (csv["Quandl Code"]).values

tkr_code[1][6:]

'MCX_POT'

In [288]:
code[1]

'CHRIS/MCX_POT'