In [23]:
import datetime as dt
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint
import csv
import datetime
from pandas import Series

from flask import Flask, jsonify, render_template


from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import sqlalchemy

In [11]:
engine = create_engine('sqlite:///./data/trade.sqlite')

In [12]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

In [13]:
Imports = Base.classes.imports

In [14]:
api_key = "93ba5366cb39b249dcbde95cc4d461e7b05b747d"
access_key = "4f9566c06802ac93dbb7af423e88dd45"
export_url = (f"https://api.census.gov/data/timeseries/intltrade/exports")
import_url = (f"https://api.census.gov/data/timeseries/intltrade/imports")
china_code = "5700"
usa_code = "1000"
month = []
year = []

In [ ]:
total_import_by_commodity = requests.get(f"{import_url}/hs?get=CTY_CODE,CTY_NAME,I_COMMODITY,I_COMMODITY_SDESC,GEN_VAL_MO,GEN_VAL_YR&key={api_key}&time=from+2019-01&COMM_LVL=HS4").json()

In [ ]:
count = 1
cty_code = []
cty_name = []
commodity = []
movalue = []
yrvalue = []
period = []
desc = []
code = []
while count < 3460904:
    count += 1
    cty_code.append(total_import_by_commodity[count][0])
    cty_name.append(total_import_by_commodity[count][1])
    commodity.append(total_import_by_commodity[count][2])
    desc.append(total_import_by_commodity[count][3])
    movalue.append(total_import_by_commodity[count][4])
    yrvalue.append(total_import_by_commodity[count][5])
    period.append(total_import_by_commodity[count][6])
total_import_commodity = pd.DataFrame({"YTDValue" : yrvalue,
                          "Period" : period,
                          "Description" : desc,
                          "HSC": commodity,
                          "MoValue" : movalue,
                           "Country" : cty_name,
                           "CountryCode": cty_code})

In [ ]:
total_import_commodity.to_sql('total_country_imports', con=engine, if_exists='replace')

In [ ]:
total_export_by_commodity = requests.get(f"{export_url}/hs?get=CTY_CODE,CTY_NAME,E_COMMODITY,E_COMMODITY_SDESC,ALL_VAL_MO,ALL_VAL_YR&key={api_key}&time=from+2015-01&COMM_LVL=HS4").json()

In [ ]:
count = 1
cty_code = []
cty_name = []
commodity = []
movalue = []
yrvalue = []
period = []
desc = []
code = []
while count < 3460904:
    count += 1
    cty_code.append(total_export_by_commodity[count][0])
    cty_name.append(total_export_by_commodity[count][1])
    commodity.append(total_export_by_commodity[count][2])
    desc.append(total_export_by_commodity[count][3])
    movalue.append(total_export_by_commodity[count][4])
    yrvalue.append(total_export_by_commodity[count][5])
    period.append(total_export_by_commodity[count][6])
total_export_commodity = pd.DataFrame({"YTDValue" : yrvalue,
                          "Period" : period,
                          "Description" : desc,
                          "HSC": commodity,
                          "MoValue" : movalue,
                           "Country" : cty_name,
                           "CountryCode": cty_code})

In [15]:
results = session.query(Imports).statement
df = pd.read_sql_query(results, session.bind)

In [16]:
df = df.sort_values(by=["Period", "HSC"])

In [ ]:
start_date = ""
end_date = ""
base = "USD"
symbols = ["USD","MXN","CNY","JPY","EUR","GBP","AUD","CHF","NZD"]
fx = requests.get(f"http://data.fixer.io/api/latest?access_key={access_key}&format=1").json()

In [ ]:
series = pd.read_csv('allfx.csv')
X = series.values
train_size = int(len(X) * 0.66)
train, test = X[0:train_size], X[train_size:len(X)]
print('Observations: %d' % (len(X)))
print('Training Observations: %d' % (len(train)))
print('Testing Observations: %d' % (len(test)))

NameError: name 'df' is not defined

In [19]:
df.head()

,index,YTDValue,Period,Description,HSC,MoValue,Country,CountryCode
2161989,2161989,10500,2015-01,"HORSES, ASSES, MULES AND HINNIES, LIVE",0101,10500,OPEC,0001
2161990,2161990,38583160,2015-01,"HORSES, ASSES, MULES AND HINNIES, LIVE",0101,38583160,EUROPEAN UNION,0003
2161991,2161991,650000,2015-01,"HORSES, ASSES, MULES AND HINNIES, LIVE",0101,650000,PACIFIC RIM COUNTRIES,0014
2161992,2161992,23500,2015-01,"HORSES, ASSES, MULES AND HINNIES, LIVE",0101,23500,CAFTA-DR,0017
2161993,2161993,2854104,2015-01,"HORSES, ASSES, MULES AND HINNIES, LIVE",0101,2854104,NAFTA,0020

In [20]:
country_df = df.groupby("Country")

In [22]:
country_df.sort_values("Country")

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method