In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#setting figure size
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10

In [5]:
#for normalizing data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

In [6]:
#read the file
df = pd.read_csv('CME_RoughRice.csv')

In [8]:
df.head()

        Date  Settle  Volume
0   5/1/2019  10.255      45
1  4/30/2019  10.275      92
2  4/29/2019  10.315     840
3  4/26/2019  10.195     683
4  4/25/2019  10.160     507

In [11]:
#setting index as date
df['Date'] = pd.to_datetime(df.Date,format='%Y-%m-%d')
df.index = df['Date']

ValueError: time data 5/1/2019 doesn't match format specified